.calculateButton { 
    text-align: center;
    color:red;
    justify-content: center;
 }
 .table {
    font-family: 'IBM Plex Mono', monospace;
    border-spacing: 10px;
    padding: 10px;
    border: blueviolet;
    border-width: 3px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-style: ridge;
    background-color: darkcyan;
 }
 .outputBox {
   font-family: 'Nanum Gothic', sans-serif;
   background-color: salmon;
   border: red;
   border-width: 5px;
   border-style: groove;
   padding-inline-start: 40px;
   padding-inline-end: 40px;
   padding-block-start: 3px;
   padding-block-end: 3px;
 }
 .center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 34%;
 }
 .center2 {
    margin-left: auto;
    margin-right: auto;
    display: block;
 }
 .container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
 }
.visible { display: block; }
.invisible { display: none; }